/* Base container setup */
.container-md {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.container{
    text-align: center;
}
/* Header margin setup */
h2{
    margin-top: 40px;
}
/* setting up label align to right */
.label{
    text-align: right;
    padding-right: 8px;
}
/* setting up textbox align to left */
.input{
    text-align: left;
}
/* setting up text align and width to dropdown */
.seats{
    width: 70px;
    text-align: center;
}
/* setting up image height, width and border */
img{
    height: 180px;
    width: 180px;
    border: 1px solid black;
}
/* setting up image container */
.content{
    display: flex;
    justify-content: center;
}
.image{
    text-align: center;
    width: 30vw;
}
/* setting up textbox width */
.name{
    width: 35vw;
}

.table{
    border: white;
}
td{
    text-align: right;
}
.span{
    column-span: all;
    height: 10px;
}
/* Dropdown settings */
.dropdown{
    text-align: left;
}
.seats{
    width: 100px;
    height: 35px;
    text-align: center;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
/* button CSS settings */
.button{
    text-align: left;
}
.submit{
    margin-right: 50px;
}

/* Setting up site responsive based on screen width */
@media only screen and (max-width: 500px) {
    .content{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .name{
        width: 100%;
    }
    
}